parameters:
    level: 5
    paths:
        - src/
        - tests/
    exceptions:
        uncheckedExceptionClasses:
            - 'Doctrine\Persistence\Mapping\MappingException'
            - 'ReflectionException'

includes:
    - vendor/assoconnect/php-quality-config/phpstan.extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - ./phpstan-baseline.neon
