parameters:
	ignoreErrors:
		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array and mixed will always evaluate to true\\.$#"
			count: 1
			path: tests/Serializer/LogSerializerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with non\\-empty\\-array and mixed will always evaluate to true\\.$#"
			count: 2
			path: tests/Serializer/LogSerializerTest.php

